@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: thin;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
.bgBlack {
  background-color: #202020;
  color:#ffffff;
}
.bgLightBlue{
  background-color: #0066FF;
  color:#ffffff;
}
.bgDarkBlue{
  background-color: #0044A4;
  color:#ffffff;
}
.bg-gradient-blue {
  background-image: linear-gradient(to right, #0055CC, #0044A4);
  color:#ffffff;
}
.bgGray{
  background-color: #F8F8FB;
}
.textsm{
  font-size: 18px;
}
.textmd{
  font-size: 22px;
}
.container {
max-width: 1440px;
  margin: auto;
}
.gray-text {
  color: rgba(0, 0, 0, 0.3); /* 30% opacity */
}
.gray-bg {
  background-color: rgba(0, 0, 0, 0.1); /* 30% opacity */
}

