@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: thin;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');  
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: thin;
}
@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  font-family: 'HankenGrotesk',Arial, Helvetica, sans-serif;
}
.bgBlue {
  background-color: #174273;
  color:#ffffff;
}
.borderBlue {
  border-width: 2px;
  border-style: solid;
  border-color: #174273;
}
.textBlue{
  color: #174273;
}

.bgPink{
  background-color: #D8216D ;
  color:#ffffff;
}
/* .bgPink:hover{
  background-color: #db347a ;
  color:#ffffff;
} */
.bgOrange{
  background-color: #F28F20 ;
  color:#ffffff;
}
.bgOrangeGradient{
  background-color: #d87b11 ;
  color:#ffffff;
}
.blueText{
  color:#0066FF
}
.bg-gradient-blue {
  background-image: linear-gradient(to right, #174273, #D8216D);
  color:#ffffff;
}
.bgGray{
  background-color: #F8F8FB;
}
.textsm{
  font-size: 18px;
}
.textmd{
  font-size: 22px;
}
.container {
max-width: 1440px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.gray-text {
  color: rgba(0, 0, 0, 0.3); /* 30% opacity */
}
.gray-bg {
  background-color: rgba(0, 0, 0, 0.1); /* 30% opacity */
}
.bgPinkGradient {
  background-image: linear-gradient(to bottom right, #7250D9, #E81D6C);
  color: #ffffff;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  
}

html {
  scroll-behavior: smooth;
}

.text-heading {
  font-size: 21px;
  
  /* small devices (1024px and up) */
  @media (min-width: 640px) {
    font-size: 22px; /* ~text-2xl */
  }

    /* Medium devices (768px and up) */
  @media (min-width: 768px) {
    font-size: 23px;
  }

  /* Large devices (1024px and up) */
  @media (min-width: 1024px) {
    font-size: 25px; /* ~text-3xl */
  }

  /* Extra large devices (1280px and up) */
  @media (min-width: 1280px) {
    font-size: 35px; /* ~text-4xl */
  }

  @media (min-width: 1536px) {
    font-size: 35px; /* ~2xl screen */
  }
}

.text-subheading {
  font-size: 14px;
  
  @media (min-width: 640px) {
    font-size: 16px; /* ~text-2xl */
  }

    /* Medium devices (768px and up) */
  @media (min-width: 768px) {
    font-size: 17px;
  }

  /* Large devices (1024px and up) */
  @media (min-width: 1024px) {
    font-size: 18px; /* ~text-3xl */
  }

  /* Extra large devices (1280px and up) */
  @media (min-width: 1280px) {
    font-size: 18px; /* ~text-4xl */
  }

    @media (min-width: 1536px) {
    font-size: 20px; /* ~2xl screen */
  }
}

.text-para {
  font-size: 11px; /* Base size */

  /* Small devices (640px and up) */
  @media (min-width: 640px) {
    font-size: 14px;
  }

  /* Medium devices (768px and up) */
  @media (min-width: 768px) {
    font-size: 15px;
  }

    /* Large devices (1024px and up) */
  @media (min-width: 1024px) {
    font-size: 17px; /* ~text-3xl */
  }

  /* Extra large devices (1280px and up) */
  @media (min-width: 1280px) {
    font-size: 18px;
  }

    @media (min-width: 1536px) {
    font-size: 18px; /* ~2xl screen */
  }
}






